<!-- Modal -->
<div class="modal fade" id="newWeapon" tabindex="-1" aria-labelledby="newWeaponLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newWeaponLabel">Weapon</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="myWeapon">
        <label for="weapon-select" class="form-label">Pick Your Weapon</label>
        <select type="weapon" class="form-control" id="weapon-select"></select>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveWeapon">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newSpell" tabindex="-1" aria-labelledby="newSpellLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newSpellLabel">Spell</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="mySpell">
        <label for="weapon-select" class="form-label">Pick Your Spell</label>
        <select type="weapon" class="form-control" id="spell-select"></select>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveSpell">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newOther" tabindex="-1" aria-labelledby="newOtherLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newOtherLabel">Other</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="myOther">
        <label for="weapon-select" class="form-label">Enter your custom Info</label>
        <input type="text" id="otherTitle" placeholder="Title"><br>
        <input type="text" id="otherDec" placeholder="Discription"><br>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveOther">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="main fullLength d-flex justify-content-center" id="charater" value="{{Character.id}}">
  <div class="row justify-content-center align-content-center">
      <!-- spells div-->
    <div class="row col-2 d-flex justify-content-center bg-warning justify-content-center g-0 border border-dark border-5">
      <div>
        <h3 class="text-center text-decoration-underline"><strong>SPELLS</strong></h3>
        <a class="btn btn-outline-primary my-1 d-flex justify-content-center my-3" type="button" role="button" data-bs-toggle="modal" data-bs-target="#newSpell">add a spell</a>
      <table class="table border border-dark border-5 border-end-0 border-start-0 table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Spell name</th>
          </tr>
        </thead>
        <tbody class="table-group-divider" id="spelldiv">
            {{#each spells as |character|}}
            <td>{spell}</td>
            {{/each}}
        </tbody>
      </table>
      </div>
    </div>
  
  <!-- main cahracter sheet-->
  <div
      class="row col-5 align-self-center bg-warning justify-content-center g-0 border border-dark border-5 border-end-0 border-start-0"
    >
      <div>
        <h1 class="text-center text-decoration-underline" id="campaignName" contenteditable="true">Campaign Name</h1>
      </div>
      <div>
        <h2 class="text-center" id="characterName" contenteditable="true" >Character Name</h2>
      </div>
      <div>
        <h3 class="text-center" id="race" contenteditable="true"> Race</h3>
        <h3 class="text-center" id="class" contenteditable="true"> Class</h3>
        <h3 class="text-center" id="level" contenteditable="true"> Level </h3>
      </div>
      <a class="btn btn-outline-primary my-1" id="saveBtn" href="#" role="button">Save</a>
      <div class="row justify-content-around mb-4">
        <div class="col-md-4 text-center">
          <label class="labelWidth" for="hitpoints" id="hitpoints">Hitpoints</label>
          <br />
          <input type="number" id="hitpoints" class="statWidth" value="18">
        </div>
        <div class="col-md-4 text-center">
          <label class="labelWidth" for="armor" id="armorClass">Armor Class</label>
          <br />
          <input type="number" name="armor" id="armor" class="statWidth" required="required" placeholder="0" value="15">
        </div>
        <div class="col-md-4 text-center">
          <label class="labelWidth" for="speed">Speed</label>
          <br/>
          <input type="number" name="speed" id="speed" class="statWidth" required="required" placeholder="0" value="30">
        </div>
        <div class="col-md-4 text-center">
          <label class="labelWidth" for="initiative" >Initiative</label>
          <br/>
          <input type="number" name="initiative" id="initiative" class="statWidth" required="required" placeholder="0" value="30">
        </div>
      </div>
  
  <hr>
  <div class="stats abilities d-flex justify-content-evenly my-3">
      <div>
       <label for="str"><strong>STR</strong></label>
       <div id="str" class="stat" contenteditable="true">8 (+0)</div>
      </div>
           <div>
          <label for="dex"><strong>DEX</strong></label>
          <div id="dex" class="stat" contenteditable="true">16 (+3)</div>
      </div>
      <div>
          <label for="con"><strong>CON</strong></label>
           <div id="con" class="stat" contenteditable="true">10 (+0)</div>
      </div>
  </div>
  <div class="stats abilities d-flex justify-content-evenly my-3">
           <div>
          <label for="int"><strong>INT</strong></label>
           <div id="int" class="stat" contenteditable="true">13 (+1)</div>
      </div>
      <div>
          <label for="wis"><strong>WIS</strong></label>
           <div id="wis" class="stat" contenteditable="true">12 (+1)</div>
      </div>
      <div>
          <label for="cha"><strong>CHA</strong></label>
           <div id="cha" class="stat" contenteditable="true">16 (+3)</div>
      </div>
  </div>

  <hr>

  <!-- weapon div-->
  <div class="d-flex justify-content-center flex-wrap">
      <div>
          <h3 class="text-center text-decoration-underline" >Weapons</h3>
          <a class="btn btn-outline-primary my-1 d-flex justify-content-center my-3" type="button" role="button" data-bs-toggle="modal" data-bs-target="#newWeapon">Add a Weapon</a>
      </div>
      <table class="table border border-dark border-5 border-end-0 border-start-0 table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Weapon name</th>
            </tr>
          </thead>
          <tbody class="table-group-divider" id="weapondiv">
          </tbody>
        </table>
      
  </div>
  </div>
  
  <!-- 'other' div-->
  <div class="row col-2 d-flex bg-warning justify-content-center g-0 border border-dark border-5">
    <div>
      <h3 class="text-center text-decoration-underline"><strong>OTHER</strong></h3>
      <a class="btn btn-outline-primary my-1 d-flex justify-content-center my-3" type="button" role="button" data-bs-toggle="modal" data-bs-target="#newOther">add Item</a>
      <table class="table border border-dark border-5 border-end-0 border-start-0 table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">description</th>
          </tr>
        </thead>
        <tbody class="table-group-divider" id="otherdiv">
          {{#each other as |character|}}
          <td>{other}</td>
          {{/each}}
        </tbody>
      </table>
    </div>
      
  </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="./js/character.js"></script>
  
    <script src="./js/newchar.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>