<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CharaCraft</title>

     <!-- google Fonts imported -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
 
    <!-- css styling sheets -->
    <link rel="stylesheet" href="../public/css/jass.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <!-- bootstrap imported -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  </head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid bg-dark">
    <a class="navbar-brand text-warning" href="#">CharaCraft</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-warning" href="#">Characters</a>
        </li>
      </ul>
      <!-- {{#unless logged_in}} -->
      <a class="btn btn-outline-warning right my-1 mt-" href="#" role="button">Sign Up</a>
      <a class="btn btn-outline-warning my-1" href="#" role="button">Login</a>
      <!-- {{/unless}} -->
      <!-- {{#if logged_in}} -->
      <a class="btn btn-outline-warning my-1" href="#" role="button">Log Out</a>
      <!-- {{/if}} -->

    </div>
  </div>
</nav>



<div class="main fullLength d-flex justify-content-center">
<div class="row justify-content-center align-content-center">
    <!-- spells div-->
<div class="row col-2 d-flex justify-content-center bg-warning justify-content-center g-0 border border-dark border-5">
    <h3 class="text-center"><strong>SPELLS</strong></h3>
    <table class="table border border-dark border-5">
        <thead>
          <tr>
            <th scope="col">Spell name</th>
            <th scope="col">description</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">name</th>
            <td>description</td>
          </tr>
          <tr>
            <th scope="row">name</th>
            <td>description</td>
          </tr><tr>
            <th scope="row">name</th>
            <td>description</td>
          </tr>
        </tbody>
      </table>
    <!-- <a class="btn btn-outline-danger my-1" href="#" role="button">Log Out</a> -->
</div>

<!-- main cahracter sheet-->
<div class="row col-5 align-self-center bg-warning justify-content-center g-0 border border-dark border-5">
<div>
    <h2 class="text-center">Character Name</h2>
</div>
<div>
    <h3 class="text-center"> Race and Level </h3>
</div>
<div class="row justify-content-around">
    <div class="col-md-4 text-center">
        <label class="labelWidth" for="hitpoints">Hitpoints</label>
        <br/>
        <input type="number" id="hitpoints" class="statWidth" value="18">
    </div>
    <div class="col-md-4 text-center">
        <label class="labelWidth" for="armor">Armor Class</label>
        <br/>
        <input type="number" name="armor" id="armor" class="statWidth" required="required" placeholder="0" value="15">
    </div>
    <div class="col-md-4 text-center">
        <label class="labelWidth" for="speed">Speed</label>
        <br/>
        <input type="number" name="speed" id="speed" class="statWidth" required="required" placeholder="0" value="30">
    </div>
</div>

<hr>
<div class="stats abilities d-flex justify-content-evenly my-3">
    <div>
     <label for="str"><strong>STR</strong></label>
     <div id="str" class="stat" contenteditable="true">8 (+0)</div>
    </div>
         <div>
        <label for="dex"><strong>DEX</strong></label>
        <div id="dex" class="stat" contenteditable="true">16 (+3)</div>
    </div>
    <div>
        <label for="con"><strong>CON</strong></label>
         <div id="con" class="stat" contenteditable="true">10 (+0)</div>
    </div>
</div>
<div class="stats abilities d-flex justify-content-evenly my-3">
         <div>
        <label for="int"><strong>INT</strong></label>
         <div id="int" class="stat" contenteditable="true">13 (+1)</div>
    </div>
    <div>
        <label for="wis"><strong>WIS</strong></label>
         <div id="wis" class="stat" contenteditable="true">12 (+1)</div>
    </div>
    <div>
        <label for="cha"><strong>CHA</strong></label>
         <div id="cha" class="stat" contenteditable="true">16 (+3)</div>
    </div>
</div>
<!-- weapon div-->
<div class="d-flex justify-content-center flex-wrap">
    <div>
        <h3 class="text-center">Weapons</h3>
    </div>
    <table class="table border border-dark border-5">
        <thead>
          <tr>
            <th scope="col">Weapon name</th>
            <th scope="col">description</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">name</th>
            <td>description</td>
          </tr>
          <tr>
            <th scope="row">name</th>
            <td>description</td>
          </tr><tr>
            <th scope="row">name</th>
            <td>description</td>
          </tr>
        </tbody>
      </table>
    
</div>
</div>

<!-- 'other' div-->
<div class="row col-2 d-flex bg-warning justify-content-center g-0 border border-dark border-5">
    
        <h3 class="text-center"><strong>OTHER</strong></h3>
    
        <table class="table border border-dark border-5">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">description</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">name</th>
                <td>description</td>
              </tr>
              <tr>
                <th scope="row">name</th>
                <td>description</td>
              </tr><tr>
                <th scope="row">name</th>
                <td>description</td>
              </tr>
            </tbody>
          </table>
    
</div>
</div>
</div>
    
</body>
</html>