<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CharaCraft</title>

    <link rel="stylesheet" href="../public/css/jass.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CharaCraft</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <button class="btn btn-outline-success">Characters</button>
        <button class="btn btn-outline-success">Login</button>
    </div>
  </div>
</nav>

<div>
    <div>
        <h1>CharaCraft</h1>
    </div>
    <div>
      <h2>Login to view your Characters</h2>
      <h2>or choose a prebuilt below!</h2>
    </div>
    <div>
      <!--card 1-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fighter</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: </li>
        <li class="list-group-item">Race: </li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">View Character</a>
      </div>
    </div>
    <!--card 2-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ranger</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: </li>
        <li class="list-group-item">Race: </li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">View Character</a>
      </div>
    </div>
    <!--card 3-->
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Wizard</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: </li>
        <li class="list-group-item">Race: </li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">View Character</a>
      </div>
    </div>

  </div>

</div>
    
</body>
</html>