
<body>
    <form action= "login.php" method="post">
        <div class="formcontainer" style="background-color:lightgray">
            <h1>CharaCraft Login</h1>
            <label for = "username"><b>Username</b></label>
            <input type = "text" placeholder="Enter Username" name="username" required>

            <label for = "password"><b>Password</b></label>
            <input type = "text" placeholder="Enter Password" name="password" required>

            <button type= "submit">Login</button>
        </div>

        <div class="container" style="background-color: lightgray;">
        </div>
    </form>
    
</body>
</html>