
  <div class ="main">
    <div class="pad-top bottom pt-1 d-flex justify-content-center flex-wrap">
        <h1 class="text-warning">CharaCraft</h1>
    <form id="signUpForm" >
        <div style="background-color:lightgray">
            <h1 class="mx">CharaCraft Sign Up</h1>
            <label for = "username"><b>Username</b></label>
            <input type = "text" placeholder="Enter Username" id="username" required>

            <label for = "email"><b>Email</b></label>
            <input type = "text" placeholder="Enter Email" id="email" required>

            <label for = "password"><b>Password</b></label>
            <input type = "text" placeholder="Enter Password" id="password" required>

            <button type= "submit" class="btn-login" id="loginBnt">Signup</button>
        </div>
        <div class="container" style="background-color: lightgray;"></div>
    </form>
</div> 

<script src="./js/signup.js"></script>