
<body>
    <h1 class= "text-align-center">Welcome Back, {{user}}!</h1>
    <div class = "CharacterGrid1">
        <div class ="CharacterGridTopRow col-6 w-300 h-500 pb-10 p-4 column-gap-3 row-gap-3 row row-cols-1 row-cols-sm-2 row-cols-md-4 flex-wrap justify-center" style= "background-color:lightgray">
           {{#each characters as |character|}}
            <div class="col p-2 text-white" style="background-color:purple"><h2>{{character.name}}</h2></div>
            {{/each}}
        </div>
    </div>
</body>
</html>